.competencies {
    width: 1400px;
    margin: 0 auto;
    background: #000;
    padding-left: 125px;
    padding-right: 125px;
}
.competencies__title {
    color: #FFF;
    font-size: 55px;
    letter-spacing: -1.65px;
    margin-bottom: 80px;
}
.competencies__skills-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 40px;
}
.skill-html-css {
    img {
        margin-bottom: 15px;
    }
}
.skill-title {
    width: 535px;
    color: #1BFF07;
    font-size: 35px;
    letter-spacing: -1.05px;
    margin-bottom: 15px;
}
.skill-description {
    width: 535px;
    color: #FFF;
    font-size: 22px;
    letter-spacing: -0.66px;
    line-height: 27px;
}