@import "./header";
@import "./projects";
@import "./competencies";
@import "./service";
@import "./contacts";
@import "./footer";

html {
  scroll-behavior: smooth;
}
body {
  font-family: "IBM Plex Mono", monospace;
  width: 1400px;
  margin: 0 auto;
  background: #000;

}
.main {
   
}